/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2014, 9:47:57 AM
    Author     : frankent
*/


body{
    background-image: url("img/body_bg_white.jpg");
    background-position: top center;
    background-size: 100% auto;
    background-attachment: fixed;
}

.green{
    color: #329a00;
}

.margin_top_30{
    margin-top: 30px;    
}

.margin_top_50{
    margin-top: 50px;    
}

.txt_center{
    text-align: center;    
}

.txt_right{
    text-align: right;    
}

ul.fix_menu{
    padding: 0px;
}

ul.fix_menu li{
    display: inline-block;
    margin: 0px;
    border-top: 2px solid transparent;
}

ul.fix_menu li.active{
    border-top: 2px solid #329a00;
}

ul.fix_menu li a{
    text-decoration: none;
    display: inline-block;
}

.slideTether{
    background: url("img/slide_bg.png") no-repeat center;
    width: 730px;
    height: 576px;
    margin: 0px auto 0px;
    position: relative;
    z-index: 6;
}

.middleGreen{
    padding: 100px 0px 40px;
    background: url("img/body_bg_texture_green.png");
    box-shadow: 0px 0px 50px #000;
    margin: -80px 0px 0px;
    z-index: 5;
    position: relative;
}

.white{
    color: #fff;
}

.greyBG{
    background: url("img/body_bg_texture_grey.png");
    padding: 50px 0px;
}

.blurBG{
    padding: 55px 0px;
    background: url("img/body_bg_tile.jpg") no-repeat center;
}

.contact_link{
    display: inline-block;
    background: url("img/body_gallery_hover.png") no-repeat center;
}

.contact_section_index p{
    margin: 0px;
    font-size: 13px;
}

.contact_section_index p a{
    color: #fff;
}

.footer_green{
    padding: 35px 0px 35px;
    background: url("img/body_bg_texture_green.png");
}

.footer_menu{
    background: url("img/body_bg_texture_grey.png");
}

.footer_menu .menu{
    padding: 12px 0px 10px;
    margin: 0px;
    font-size: 13px;
}

.footer_menu .menu li{
    display: inline;
}

.footer_menu a{
    color: #fff;
}

.footer_menu .menu > li + li:before {
    padding: 0px 5px;
    color: #000;
    content: "| ";
}

#map_canvas{    
    height: 460px;
    width: 360px;
    background-color: #ccc;
}

.contact_box{
    padding: 30px 10px 20px;
    border-radius: 4px;
    border: 1px solid #329a00;
    margin-top: 35px;
}

.slideFrame{
    background: #ccc;
    width: 688px;
    height: 462px;
    position: absolute;
    top: 55px;
    left: 22px;
}

img.facilities_img{
    max-width: 500px;
}